{# 
{% extends "base/base.html" %}
{% block contenido %}
<html>error al buscar pagina {{error}}</html>
    {% endblock %}

    {% include "scripts.html"%} #}

<html> 
    <h1>No encontrado, error 404 </h1>
    <h5>La página que buscas ya no existe. Quizás pueda volver a la <a href="{{url_for('menu')}}">pagina de inicio</a> y tratar de encontrar lo que está buscando. También puedes probar a usar el siguiente formulario de búsqueda.</h5>




    <label for="saldo">Saldo</label>
    <input type="text" value="" id="saldo">
</html>